header {
  background-color: rgb(67, 100, 116);
  box-sizing: content-box;
  display: block;
  min-height: 100px;
}

.wide-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin: 0 60px;
  padding: 0;
  min-height: 100px;
}

.logo-box {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.logo-link {
  font-family: Comfortaa;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.contact-item,
.header-nav {
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-item {
  transition: all 0.3s ease-in-out;
  display: inline;
  margin: 0 10px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 23px;
  border-color: white;
  border-style: solid;
  box-shadow: 10px 10px 20px -11px rgba(0, 0, 0, 2.3);

}

.menu-item:hover {
  background-color: white;
  color: rgb(67, 100, 116);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: none;
}

.menu-item.space-after {
  margin-right: 80px;
}