header {
    box-sizing: content-box;
    display: block;
    margin-bottom: 20px;
}

.wide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    padding: 0 30px;

}

.site-title {
    color: aquamarine;
}

/* .header-nav {
    //
} */

.menu {
    display: flex;
    justify-content: space-between;
}

/* .menu-item {
    // display: inline;
} */