main {
  margin: 0;
  padding: 0;
  background-image: url(/icons/endless-constellation.svg);
}

.main-content {
  display: grid;
  margin: 0 200px;
  background-color: rgb(42, 49, 65);
}

.site-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 0 80px;
}

.site-title-bar {
  height: 2px;
  width: 40%;
  background-color: white;
  border-radius: 1px;
}

.site-title {
  font-size: 30px;
  font-family: "Comfortaa";
  color: white;
  text-decoration: none;
}

.description-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  padding: 60px 80px;
}

.about-me-box {
  /* background-color: pink; */
  margin: 0;
  padding: 0;
}

.about-me-box {
  margin: 20px 0;
  padding: 0;
}

.about-me-text {
  margin: 0;
  padding: 0;
  line-height: 35px;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 60px;
  padding: 0 80px 80px 80px;
}

.project-box {
  height: 400px;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: white;
}