main {
  margin: 0;
  padding: 0;
  background-image: url(/icons/endless-constellation.svg);
}

.main-content {
  display: grid;
  margin: 0 200px;
  background-color: rgb(42, 49, 65);
}

.description-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  padding: 40px 80px 40px 80px;
}

#first-row {
  margin-top: 40px;
}

#last-row {
  margin-bottom: 40px;
}

.about-me {
  /* background-color: pink; */
  margin: 0;
  padding: 0;
}

.about-me-title {
  margin: 20px 0;
  padding: 0;
}

.about-me-text {
  margin: 0;
  padding: 0;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
