.header {
  background-color: lightgray;
  height: 40px;
}

.personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.first-photo {
  background-color: lightblue;
}

.first-description {
  background-color: lightgreen;
}

.second-description {
  background-color: yellow;
}

.second-photo {
  background-color: orange;
}

.project-list {
  background-color: lightcoral;
}
